/* CSS declarations go here */


#mainMap {
  height: 75vh;
  width: 100vw;
}


#camera {
  top: 10vh;
}

#stepComplete {
  height: 100vh;
  width: 100vw;
  background-color: #80ada0;
  border-style: dashed;
  border-color: black;
}

#step-do-title {
  font-size: 50px;
  text-align: center;
  top: 30vh;
  margin: auto;
  display: block;
  color: white;
}

#step-do-subtitle {
  font-size: 40px;
  font-weight: bold;
  top: 40vh;
  text-align:center;
  padding: auto;
  margin: auto;
  display: block;
  color: white;
}

#step-activity-title {
  font-size: 50px;
  font-weight: bold;
  top: 20vh;
  text-align:center;
  padding: auto;
  margin: auto;
  display: block;
  color: white;
}

#step-activity-subtitle {
  font-size: 35px;
  font-weight: bold;
  top: 20vh;
  text-align:center;
  padding: auto;
  margin: auto;
  display: block;
  color: white;
}

#step-do-mission-btn {
  position: fixed;
  font-size: 30px;
  width: 70%;
  top: 75vh;
  padding: 5%;
  margin-top: 100px;
  background-color: #FCB314;
  margin: 0 auto;
  display: block;
  color: white;
}

#mission-otw-name {
  font-size: 30px;
  font-weight: bold;
  color:white;
  padding-top: 10%;
  padding-left: 10%;
}
#mission-otw-desc {
  color:white;
  font-size: 20px;
  padding-top: 10%;
  padding-left: 10%;
}

#step-icon-mini {
  padding-top:5%;
  height:60px;
  width: 60px;
  display: block;
}
#step-actual-info {
  border-color: grey;
  background-color: #eaedf2;
  padding-top: 4%;
  height: 14vh;
  width: 90vw;
  margin: 15px;
}

#step-actual-name {
  font-size: 20px;
  font-weight: bold;
}
#step-actual-desc {
  font-size: 16px;
  font-style: italic;
}
/*Mission Creator*/

#topHeader{
  height: 30vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}

#missionDetailsTopper {
  height: 30vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}


#stepBodyInfo {
  height: 55vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}

#submitMission {
  height: 15vh;
  width: 100vw;
  background-color: #80ada0;
}

#create-mission-btn {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #80ada0;
  padding: 7.5%;
  display: block;
  margin: 0 auto;
  border:0;
  color: white;
  height: 100%;
  width: 100%;
}

#stepSection {
  height: 55vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}

#submitMission {
  height: 15vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}

#nameEditing {
  border-style: dashed;
  border-color: black;
}

#cost {
  border-style: dashed;
  border-color: black;
}

#stepPlaceHolder {
  border-style: dashed;
  border-color: grey;
  height: 10vh;
  width: 90vw;
  margin: 15px;
}

#popUp {
  position: fixed;
  top: 35vh;
  left: 22px;
  width: 90vw;
  height: 50vh;

  background-color: red;
}

#step {
  border-style: dashed;
  border-color: grey;
  height: 10vh;
  width: 90vw;
  margin: 15px;
}

#confirmMission {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  background-color: red;
}


/*Main Page*/
#loc-icon {
  height:40px;
  width: 40px;
}

#loc-icon-mini {
  height:30px;
  width: 30px;
  margin: 0 auto;
  display: block;
}

#mission-title {
  font-style: bold;
  font-size: 25px;
  color: #ffffff;
  text-align:center;
}

#mission-desc {
  font-size: 18px;
  color: #ffffff;
  font-style: italic;
  text-align:center;
}

#mission-details {
  font-size: 18px;
  color: #ffffff;
  text-align:center;
}

#slider {
  display:block;
  height:100%;
  padding-top:6%;
  margin-left: auto;
  margin-right:auto;
}

#carousel {
  height:30vh;
  opacity:0.7;
  background-color: #000000;
}

#dotted-border {
  border-color: black;
  border-style: dashed;
}

#startMission {
  border-color: black;
  border-style: dashed;
  height: 15vh;
  width: 100vw;
}

#landing-page {
    height: 100vh;
    background-color: #3b5998;
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
}

#register-page {
    height: 100vh;
    background-color: #3b5998;
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
}

#profile-page {
    img {
        $size: 10em;
        width: $size;
        height: $size;
        margin: 1em;
    }

    #top-header {
        background-color: #f8f8f8;
    }

    #body-div {
        background-color: #3b5998;
        height: 100vh;

        #current-mission {
            margin: 1em;
            background-color: #59983b;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            border-radius: 2px;

            > div {
                margin: 1em;
            }
        }

        .profile-comp-missions {
            margin: 1em;
            background-color: #4c6aa9;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            border-radius: 2px;

            > div {
                margin: 1em;
            }
        }
    }

    #left-col {
        display: inline-block;

        p {
            margin-left: 1em;
        }
    }

    #right-col {
        height: 100%;
        width: 50%;
        display: inline-block;

        h1 {
            text-align: right;
        }

        button {
            margin-left: 8em;
        }
    }
}

#topMissionAnalyticsHeader {
  height: 30vh;
  width: 100vw;
  border-color: black;
  border-style: dashed;
}

#rootStepAnalytics {
  text-align: center;
}

#imgDisp {
  max-width: 90vw;
  width: 90vw;
}
