/* CSS declarations go here */

#mainMap {
  height: 75vh;
  width: 100vw;
}

#topHeader{
  height: 30vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}
#missionDetailsTopper {
  height: 30vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}

#stepBodyInfo {
  height: 55vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}

#stepSection {
  height: 55vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}

#submitMission {
  height: 15vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}

#nameEditing {
  border-style: dashed;
  border-color: black;
}

#cost {
  border-style: dashed;
  border-color: black;
}

#stepPlaceHolder {
  border-style: dashed;
  border-color: grey;
  height: 10vh;
  width: 90vw;
  margin: 15px;
}

#popUp {
  position: fixed;
  top: 35vh;
  left: 22px;
  width: 90vw;
  height: 50vh;

  background-color: red;
}

#step {
  border-style: dashed;
  border-color: grey;
  height: 10vh;
  width: 90vw;
  margin: 15px;
}

#confirmMission {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  background-color: red;
}

/*Main Page*/
#loc-icon {
  height:40px;
  width: 40px;
}

#loc-icon-mini {
  height:30px;
  width: 30px;
  margin: 0 auto;
  display: block;
}

#mission-title {
  font-style: bold;
  font-size: 25px;
  color: #ffffff;
  text-align:center;
}

#mission-desc {
  font-size: 18px;
  color: #ffffff;
  font-style: italic;
  text-align:center;
}

#mission-details {
  font-size: 18px;
  color: #ffffff;
  text-align:center;
}

#slider {
  display:block;
  height:100%;
  padding-top:6%;
  margin-left: auto;
  margin-right:auto;
}

#carousel {
  height:30vh;
  opacity:0.7;
  background-color: #000000;
}

#dotted-border {
  border-color: black;
  border-style: dashed;
}

#startMission {
  border-color: black;
  border-style: dashed;
  height: 15vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}

#landing-page {
    height: 100vh;
    background-color: #3b5998;
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
}

#register-page {
    height: 100vh;
    background-color: #3b5998;
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
}
