/* CSS declarations go here */


#mainMap {
  height: 75vh;
  width: 100vw;
}


#mission-otw-name {
  font-size: 30px;
  font-weight: bold;
  color:white;
  padding-top: 10%;
  padding-left: 10%;
}
#mission-otw-desc {
  color:white;
  font-size: 20px;
  padding-top: 10%;
  padding-left: 10%;
}

#step-icon-mini {
  padding-top:5%;
  height:60px;
  width: 60px;
  display: block;
}
#step-actual-info {
  border-color: grey;
  background-color: #eaedf2;
  padding-top: 4%;
  height: 14vh;
  width: 90vw;
  margin: 15px;
}

#step-actual-name {
  font-size: 20px;
  font-weight: bold;
}
#step-actual-desc {
  font-size: 16px;
  font-style: italic;
}
/*Mission Creator*/
#topHeader{
  height: 30vh;
  width: 100vw;
  background-color: #80ada0;
}

#mission-form-input {
  font-size:16px;
  display:block;
  padding:3%;
  margin: 0 auto;
  border: 0;
  width: 100%;
  height: 100%;
}

/*Name section*/
#nameEditing {
  padding-top: 5%;
  padding-left: 5%;
}


#org-circle {
  position: relative;
  width: 95px;
  height: 95px;
  display: block;
  margin: 0 auto;
}

#cost-text {
  position: absolute;
  top:65px;
  right: 45px;
  font-size:25px;
  font-weight:bold;
  color: white;
}

#cost-area {
  background-color: #80ada0;
  height: 25vh;
  display: block;
  margin: 0 auto;
  padding-top: 10%;
  padding-left: 3%;
}

#missionDetailsTopper {
  height: 30vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}

#submitMission {
  height: 15vh;
  width: 100vw;
  background-color: #80ada0;
}

#create-mission-btn {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #80ada0;
  padding: 7.5%;
  display: block;
  margin: 0 auto;
  border:0;
  color: white;
  height: 100%;
  width: 100%;
}

#stepSection {
  height: 55vh;
  width: 100vw;
}

/*Types of Steps*/
#step-info {
  font-size: 18px;
  font-weight: bold;
  padding: 7%;
  display: inline;
}

/*Choices made*/
#step-title {
  font-size: 22px;
  padding-top: 8%;
  margin-top:2%;
  padding-left: 5%;
  font-weight: bold;
  display: inline;
}

#step-form-input {
  font-size:16px;
  display:block;
  padding:5%;
  margin: 0 auto;
  border: 0;
  width: 90%;
  height: 100%;
}

#create-step-btn {
  font-size: 16px;
  font-weight: bold;
  align-content: center;
  background-color: #80ada0;
  padding: 5%;
  border:0;
  display:block;
  margin: 0 auto;
  color: white;
  height: 45%;
  width: 60%;
}

#stepPlaceHolder {
  border-style: dashed;
  border-color: grey;
  background-color: #eaedf2;
  font-size: 20px;
  font-weight: bold;
  color: #33202A;
  padding: 4.5%;
  height: 10vh;
  width: 90vw;
  margin: 15px;
}

#popUp {
  position: fixed;
  padding: 5%;
  top: 32vh;
  left: 22px;
  width: 96vw;
  height: 51vh;
  color: white;
  background-color: #5f5566;
}

#popup-icon {
  width:50px;
  height:50px;
}

#step {
  border-style: dashed;
  border-color: grey;
  height: 10vh;
  width: 90vw;
  margin: 15px;
}

#confirmMission {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: red;
}


/*Main Page*/
#loc-icon {
  height:40px;
  width: 40px;
}

#loc-icon-mini {
  height:30px;
  width: 30px;
  margin: 0 auto;
  display: block;
}

#mission-title {
  font-style: bold;
  font-size: 25px;
  color: #ffffff;
  text-align:center;
}

#mission-desc {
  font-size: 18px;
  color: #ffffff;
  font-style: italic;
  text-align:center;
}

#mission-details {
  font-size: 18px;
  color: #ffffff;
  text-align:center;
}

#slider {
  display:block;
  height:100%;
  padding-top:6%;
  margin-left: auto;
  margin-right:auto;
}

#carousel {
  height:30vh;
  opacity:0.7;
  background-color: #000000;
}

#dotted-border {
  border-color: black;
  border-style: dashed;
}

#startMission {
  height: 15vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}

#stepComplete {
  height: 100vh;
  width: 100vw;
  border-style: dashed;
  border-color: black;
}
